/*  kép animáció jobbrol balra */

.eltunes{
    /*float:left;*/
    /*max-width: 100%; */
    /*margin-right: 150px; */
    max-height: 100%;
    float: right;
    
    /*height: 10%;*/
    /*margin-left: auto;
    margin-right: auto;*/

    /*left: -35%;*/
    
    position: absolute;
    /*left: -100000px;*/ 
    position: fixed;
    animation-name: mymove;
    animation-duration: 5s;  
    animation-fill-mode: forwards;
}

@keyframes mymove {
    /*0%   {left: 0px;}*/
    /*100% {left: -2000px;}*/
    /*100% {opacity:  0;}*/

    
    0%   {left: -35%;}
    100% {left: -200%;}
    
}
body {
    background-color: red;
}

